# This file is used to create a conda environment on Google Colab
# To get the list of packages installed in the current environment, run the following command in a cell:
# pip_txt = !pip list
# dep = "python tensorflow".split()
# for line in pip_txt:
#     pkg, ver = line.strip().split()
#     if pkg in dep:
#         print(f"- {pkg} = {ver}")

jupyter
lxml == 5.3.0
matplotlib == 3.8.0
notebook == 6.5.5
numpy == 1.26.4
pytest == 8.3.4
# pytest-xdist
requests == 2.32.3
scipy == 1.13.1
sympy == 1.13.1
